@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --lima-dark: #461213;
  --lima-red: #e02a26;
  --lima-wine: #721313;
  --soft-pink: #fdecee;
}

* {
  font-family: 'Poppins', sans-serif;
}

* i {
  font-size: 25px;
}

.bg-red {
  background-color: #461213e1 !important;
}
.bg-white {
  background-color: #fff !important;
}

.spacing-header {
  margin-left: 180px;
  margin-right: 195px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.nav-logo {
  max-height: 40px;
  width: auto;
  display: block;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: var(--lima-red);
}

.active {
  color: var(--lima-red) !important;
  border-bottom: 2px solid var(--lima-red);
}

.alert {
  border-radius: 0;
  color: white;
  max-width: 85%;
  height: 60px;
}

.alert-link {
  color: white;
  font-weight: 600;
}

.header-btn {
  font-size: 12px;
}

.btn-red {
  background: linear-gradient(to right, var(--lima-red), #741313);
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 24px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.btn-red:hover {
  color: white;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.text-danger {
  color: var(--lima-red);
}

.btn {
  font-size: 16px;
}

.banner-img {
  width: 100%;
  height: 47vh;
  margin-top: 50px;
  object-fit: cover;
}

.banner-container::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(166, 18, 18, 0.55);
  height: 393px;
}

.banner-text {
  position: absolute;
  color: white;
  left: 10%;
  bottom: 47%;
  z-index: 2;
}

.py-custom {
  padding-top: 90px;
  padding-bottom: 60px;
}

.g-custom {
  --bs-gutter-x: 35px;
  --bs-gutter-y: 35px;
}

.border-custom {
  border-color: var(--lima-red);
  border-width: 2px;
  border-radius: 10px;
}

#latest-news {
  background: var(--soft-pink);
}

.spacing-news {
  margin-left: 150px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.news-card {
  position: relative;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-img-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 60%);
  color: #fff;
}

.newsSwiper .swiper-slide {
  width: 240px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

#footer {
  padding-top: 50px;
  background: linear-gradient(to bottom, var(--lima-red), black);
}

.footer-logo {
  height: 40px;
  width: auto;
}

.footer-text {
  font-size: 14px;
  color: white;
  max-width: 300px;
}

.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  color: white;
}

.footer-bottom {
  background: white;
}

.footer-link i {
  font-size: 28px;
}

.footer-link i:hover {
  color: var(--lima-red);
}

.footer-bottom .footer-link {
  color: black;
  text-decoration: none;
}

.footer-copyright {
  background: #0b0b25;
}
